<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/layout/header.html :: fragment-header"></div>
</head>
<body>
<div th:replace="/layout/nav.html :: fragment-nav"></div>
<div class="container">
    <button class="btn btn-secondary" th:onclick="history.back()">돌아가기</button>
    <a class="btn btn-warning" th:href="@{/board/{id}/update (id=${board.id})}" th:if="${#session.getAttribute('loginUser') != null && board.author.id == #session.getAttribute('loginUser').id}">수정</a>
    <button class="btn btn-danger" id="btn-delete" th:if="${#session.getAttribute('loginUser') != null && board.author.id == #session.getAttribute('loginUser').id}">삭제</button>
    <br><br>
    <div>
        글 번호: <span><i id="id" th:text="${board.id}"></i></span>
        작성자 : <span><i th:text="${board.author.username}"></i></span>
    </div>
    <div>
        <h3 th:text="${board.title}">제목</h3>
    </div>
    <hr>
    <div>
        <div th:utext="${board.content}">내용</div>
    </div>
    <hr>
    <div class="card" th:if="${session.loginUser != null}">
        <form>
            <input type="hidden" id="boardId" th:value="${board.id}">
            <div>
                <div class="card-body"><textarea id="reply-content" class="form-control" rows="1"></textarea></div>
                <div class="card-footer"><button type="button" class="btn btn-primary" id="btn-reply-save">등록</button></div>
            </div>
        </form>
    </div>
    <br>
    <div class="card">
        <div class="card-header">댓글 리스트</div>
        <ul id="reply--box" class="list-group">
            <li id="reply--1" class="list-group-item d-flex justify-content-between" th:each="reply : ${board?.replyList}">
                <div th:text="${reply.content}">댓글 내용입니다.</div>
                <div class="d-flex">
                    <div class="font-italic" th:text="'작성자 : ' + ${reply.user.username} + ' '">작성자:ssarmango &nbsp</div>
                    <button class="badge" th:onclick="|javascript:index.replyDelete(${board.id}, ${reply.id})|">삭제</button>
                </div>
            </li>
            <li th:if="${board.replyList.isEmpty()}" class="list-group-item d-flex justify-content-between">
                <div>보여줄 내용이 없습니다.</div>
            </li>
        </ul>
    </div>
</div>
<script th:src="@{/js/board.js}"></script>
<footer th:replace="/layout/footer.html :: fragment-footer"></footer>
</body>
</html>